* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 252, 248, 1); */
  background-color: rgba(255, 252, 248, 1);
  flex-direction: column;
}
.background-container {
  background-image: url(img/mainphoto.png);
  width: 1440px;
  height: 800px;
}
.sunnyside-class {
  /* width: 170px;
  height: 33px;
  color: #ffffff; */
  /* */
  padding-top: 46px;
  padding-left: 40px;
}
header {
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 47px;
}
nav {
  padding-right: 235px;
  padding-top: 46px;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}
button {
  width: 140px;
  height: 56px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 28px;
  position: absolute;
  font-family: "Fraunces", serif;
  border: none;
  top: 33px;

  font-size: 15px;
}
h2 {
  font-family: "Fraunces", serif;
  font-size: 56px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 195px;
}
.eggphoto-class {
  position: relative;
  left: 360px;
}
.whitephoto-class {
  background-color: white;
  width: 720px;
  height: 600px;
  position: absolute;
  left: 289px;
  top: 800px;
}
h3 {
  width: 490px;
  height: 98px;
  padding-left: 165px;
  padding-top: 158px;
  font-size: 40px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}
p {
  font-family: "Barlow", sans-serif;
  padding-top: 130px;
  padding-left: 165px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(128, 131, 151, 1);
  width: 612px;
}
h4 {
  padding-top: 40px;
  padding-left: 165.5px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
}
.whitephoto2-class {
  background-color: white;
  width: 720px;
  height: 600px;
}
.letstryflex-container {
  display: flex;
  position: absolute;
  top: 1401px;
}
h5 {
  width: 600px;
  height: 98px;
  padding-left: 165px;
  padding-top: 158px;
  font-size: 40px;

  text-align: left;
  font-weight: 900;
  font-family: "Fraunces", serif;
}
.p2-class {
  font-family: "Barlow", sans-serif;
  padding-top: 130px;
  padding-left: 165px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(128, 131, 151, 1);
  width: 612px;
}
h6 {
  padding-top: 40px;
  padding-left: 165.5px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
}
.thirdphotos-container {
}
.alublebis-container {
  width: 720px;
  height: 600px;
  position: absolute;
  top: 2001px;
  background-image: url(img/alublebi.png);
}
strong {
  color: rgba(36, 85, 74, 1);
  position: absolute;
  left: 251px;
  top: 398px;
  font-weight: 900;
  font-size: 28px;
}
.p3-class {
  position: absolute;
  left: 191px;
  top: 460px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 339px;
  height: 81px;
  color: rgba(62, 116, 103, 1);
}
