* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 252, 248, 1); */
  background-color: rgba(255, 252, 248, 1);
  flex-direction: column;
}
.background-container {
  background-image: url(img/mainphoto.png);
  width: 1440px;
  height: 800px;
}
.sunnyside-class {
  /* width: 170px;
  height: 33px;
  color: #ffffff; */
  /* */
  padding-top: 46px;
  padding-left: 40px;
}
header {
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 47px;
}
nav {
  padding-right: 235px;
  padding-top: 46px;
}
a {
  color: white;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}
button {
  width: 140px;
  height: 56px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 28px;
  position: absolute;
  font-family: "Fraunces", serif;
  border: none;
  top: 33px;

  font-size: 15px;
}
h2 {
  font-family: "Fraunces", serif;
  font-size: 56px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 195px;
}
.whitephotoandegg-container {
  display: flex;
  position: relative;
}
.eggphoto-class {
  position: relative;
  left: 360px;
}
.whitephoto-class {
  background-color: white;
  width: 720px;
  height: 600px;
  position: absolute;
  right: 360px;
}
h3 {
  width: 490px;
  height: 98px;
  padding-left: 165px;
  padding-top: 158px;
  font-size: 40px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}
p {
  font-family: "Barlow", sans-serif;
  padding-top: 130px;
  padding-left: 165px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(128, 131, 151, 1);
  width: 612px;
}
h4 {
  padding-top: 40px;
  padding-left: 165.5px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
}
.whitephoto2-class {
  background-color: white;
  width: 720px;
  height: 600px;
}
.letstryflex-container {
  display: flex;
  position: absolute;
  top: 1401px;
}
h5 {
  width: 600px;
  height: 98px;
  padding-left: 165px;
  padding-top: 158px;
  font-size: 40px;

  text-align: left;
  font-weight: 900;
  font-family: "Fraunces", serif;
}
.p2-class {
  font-family: "Barlow", sans-serif;
  padding-top: 130px;
  padding-left: 165px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(128, 131, 151, 1);
  width: 612px;
}
h6 {
  padding-top: 40px;
  padding-left: 165.5px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 15px;
}
.thirdphotos-container {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 2000px;
}
.alublebis-container {
  width: 720px;
  height: 600px;
  position: relative;
  background-image: url(img/alublebi.png);
}
strong {
  color: rgba(36, 85, 74, 1);
  position: absolute;
  left: 251px;
  top: 398px;
  font-weight: 900;
  font-size: 28px;
}
.p3-class {
  position: absolute;
  left: 191px;
  top: 460px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 339px;
  height: 81px;
  color: rgba(62, 116, 103, 1);
  text-align: center;
}
.mandarini-class {
  background-image: url(img/mandarini.png);
  width: 720px;
  order: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
b {
  color: rgba(5, 44, 59, 1);
  width: 187px;
  height: 35px;
  font-weight: 900;
  position: absolute;
  font-size: 28px;
  top: 398px;
  font-family: "Fraunces", serif;
  left: 987.5px;
}
.p4-class {
  position: absolute;
  left: 911px;
  top: 460px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 339px;
  height: 81px;
  color: rgba(25, 83, 108, 1);
  text-align: center;
}
.CLIENTTESTIMONIALS-class {
  background-color: white;
  width: 1440px;
  height: 777px;
  position: absolute;
  top: 2603px;
  font-family: "Fraunces", serif;
  padding-top: 160px;
  padding-left: 548px;
  font-weight: 900;
  font-size: 20px;
  color: rgba(167, 170, 173, 1);
}
.firstphotoClass {
  position: absolute;
  left: 304px;
  top: 268px;
}
.writtingClass {
  text-align: center;
  width: 350px;
  height: 96px;
  font-family: "Barlow", sans-serif;
  color: rgba(91, 99, 109, 1);
  position: absolute;
  left: 165px;
  top: 396px;
}
.EmilyClass {
}
h1 {
  padding-top: 69px;
  color: rgba(36, 48, 62, 1);
  font-family: "Fraunces", serif;
}
.MarketingClass {
  padding-top: 9px;
  color: rgba(167, 170, 173, 1);
  font-family: "Barlow", sans-serif;
}
.secondphotoclass2 {
  position: absolute;
  left: 689px;
  top: 266px;
}
.writting2Class {
  position: relative;
  width: 355px;
  height: 96px;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  color: rgba(91, 99, 109, 1);
  top: 49px;
  left: -145px;
  font-size: 18px;
  text-align: center;
}
.ThomasClass {
  position: absolute;
  left: 115px;
  width: 203px;
  height: 56px;
  padding-top: 69px;
}
.tomaswrittingClass {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  width: 150px;
  height: 22px;
  color: rgba(36, 48, 62, 1);
  position: absolute;
  bottom: 45px;
  left: -7px;
}
.chiefoperatingClass {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(167, 170, 173, 1);
  text-align: center;
  position: absolute;
  top: 115px;
  width: 203px;
  height: 56px;
  left: -25px;
}
.thirdphotoClass {
  position: absolute;
}
.thirdphoto2Class {
  position: absolute;
  left: 516px;
  top: 81px;
}
.writting3Class {
  width: 350px;
  height: 96px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: rgba(91, 99, 109, 1);
  position: absolute;
  top: 125px;
  text-align: center;
  left: -129px;
}
.BusinessClass {
  padding-top: 17px;
  font-size: 24x;
  font-weight: 600;
  color: rgba(167, 170, 173, 1);
}
